<mat-toolbar color="primary" class="list-header">
  <mat-toolbar-row fxLayoutAlign="end center">
    <button mat-icon-button>
      <mat-icon aria-label="List view" (click)="onChangeView('list')">view_list</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon aria-label="Grid view" (click)="onChangeView('grid')">view_module</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card *ngIf="!((products$ | async )?.length)">
  <mat-card-content>
    <mat-card-title> Sorry, we sold all our products</mat-card-title>
  </mat-card-content>
</mat-card>

<app-products-item
  *ngFor="let product of (products$ | async)"
  [product]="product"
  [viewMode$]="viewMode$"
  (addToCart)="onAddToCart($event)">
</app-products-item>
