<mat-card class="product__card" *ngIf="product$">
  <mat-card-header>
    <mat-card-title>{{ product.title }}</mat-card-title>
    <mat-card-subtitle>{{ product.price }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]='product.thumbnail' alt="product">
  <mat-card-content>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, porro.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, autem?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, sit!
    </p>
  </mat-card-content>
  <mat-card-actions>

  <button mat-raised-button color="accent" (click)="onAddToCart()">
          ADD TO CART
  </button>

    <!-- <form class="form__main" [formGroup]="productForm" (ngSubmit)="onAddToCart(productForm.value)">

      <mat-form-field class="form__input">
        <input matInput type="number" formControlName="title" placeholder="Quantity:">
      </mat-form-field>
      
      <button mat-raised-button color="accent" class="form__btn" type="submit" [disabled]="!productForm.valid">ADD TO CART</button>
  
    </form> -->
  </mat-card-actions>
</mat-card>