<mat-toolbar color="primary" class="header">
    <span class="logo"><a routerLink="/" mat-button>BigShop</a></span>
    <div class = "nav" *ngIf="(isAuthenticated$ | async)">
        <a routerLink="/shop" mat-button>Shop</a>
        <a routerLink="/wishlist" mat-button>Wishlist</a>
        <a routerLink="/cart" mat-button>Cart</a>
        <a routerLink="/admin" mat-button>Admin</a>
    </div>
    <span class="example-spacer"></span>
    <div *ngIf="(isAuthenticated$ | async)">
        <span class="user-login"> {{ userLogin }} </span>
        <a  mat-button (click)="onLogout()">Logout</a>
    </div>
    <div *ngIf="!(isAuthenticated$ | async)">
        <a routerLink="/login" mat-button>Login</a>
        <a routerLink="/register" mat-button>Register</a>
    </div>
</mat-toolbar>
      