<mat-card>
    <mat-card-content fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <img
          class="product-image"
          [src]="product.thumbnail"
          [alt]="product.title">
      </div>
      <div>{{ product.title }}</div>
      <div>{{ product.category_title }}</div>
      <div>{{ product.price }} <span>$</span></div>
      <div>
        <mat-icon class="action-icon">favorite</mat-icon>
        <mat-icon class="action-icon">add_shopping_cart</mat-icon>
      </div>
    </mat-card-content>
  </mat-card>