.example-spacer {
    flex: 1 1 auto;
}
.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    padding: 8px 16px;
}
.user-login, .logo{
    color:orange;
    font-size: 14px;
}